<div class="container-lg">
  <div class="row justify-content-center mb-2">
    <div class="col-3">
      <h2>Our trending series:</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-10 col-xs-12">
      <div id="welcomeCarousel" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/astrouaut.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>GRAVITY SHOCK</h5>
              <p>Young astrouaut living on the space station gets sucked in the space and lives a lone life eating meteorites</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/magical-forest.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Magical Forest</h5>
              <p>On the walk couple gets missing and enters a magical forest where many wierd things happen</p>
            </div>
          </div>
          <div class="carousel-item align-items-center">
            <img src="../../assets/img/nice-car.jpg" class="w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Fast and Furious 32</h5>
              <p>There's a lot of fast pretty cars getting smashed by Vin Diesel</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

